html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0D80BF;
    color: #fefefe;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fefefe;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin: 0 12px;
}

.time-container {
    max-width: 200px;
    margin: auto;
}

main {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.tabela-elenco {
    width: 100px;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-elenco th,
.tabela-elenco td {
    border: 1px solid #ccc;
    padding: 10px;
}

.tabela-elenco th {
    background-color: #0D80BF;
    color: white;
}

.tabela-elenco tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #0D80BF;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}

.grêmio-img {
    width: 200px;
    margin: 20px 0;
}